body {
    --cor-principal: #38b0b0dd;
}

#logo {
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: brown;
}

input[type=checkbox] {
    border: 2px solid var(--cor-principal);
    box-shadow: none;
  }
  
  input[type=checkbox]:checked,
  input[type="checkbox"]:focus {
    background-color: var(--cor-principal);
    border-color: var(--cor-principal);
    box-shadow: none;
    outline: none;
  }

